@keyframes appearing {
  0%{
    transform: translateX(-10%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes appearingY {
  0%{
    transform: translateY(40%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes appearingRight {
  0%{
    transform: translateX(20%);
    opacity: 0;
  }
  100%{
    transform: translateX(0%);
    opacity: 1;
  }
}

html{
  background-color: rgba(0, 0, 0, 0.82)
}

.page{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  max-width: 900px;
  font-family: "Roboto Mono";
  color: #fff;
}

.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
  padding: 2% 0 0 0;
}

.header__link{
  display: inline-block;
  color:#fff;
  text-decoration: none;
  font-size: 24px;
}

.header__logo{
  width:50px;
  height:50px;
}

.input{
  background-color: transparent;
  border: 2px solid white;
  padding: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  color:#fff;
  font-size: 50px;
  text-transform: uppercase;
  animation: appearingY 1.5s ease-in-out;
  transition: all .9s;
}

.input:active{
  transform: scale(1.5);
}

.input:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.input__container{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 150px
}

.wrong{
  border: 2px solid red;
  transition: all .6s;
}

.correct{
  border: 2px solid green;
  transition: all .6s;
}

.questions{
  animation: appearing 3s ease-in-out;
  font-size: 27px;
}

.a{
  animation: appearing 4s ease-in-out;
}

.b{
  animation: appearing 5s ease-in-out;
}

.c{
  animation: appearing 6s ease-in-out;
}

.d{
  animation: appearing 7s ease-in-out;
}

.e{
  animation: appearing 8s ease-in-out;
}

.f{
  animation: appearing 9s ease-in-out;
}

.g{
  animation: appearing 10s ease-in-out;
}

.header__link{
  animation: appearingRight 2s ease-in-out;
  transition: all .4s;
}

.header__link:hover{
  opacity: 0.8;
}

.header__link::after{
  content: "♫";
  margin: 0 0 0 5px;
  opacity: 0;
  transition: all .5s;
}

.header__link:hover::after{
  content: "♫";
  margin: 0 0 0 15px;
  opacity: 1;
  transition: all .5s;
}

.header__logo{
  transition: all .5s;
}

.header__logo:hover{
  transform: scale(1.05);
}

.confirm{
  display: block;
  font-size: 48px;
  margin: auto;
  color: green;
  text-decoration: none;
  opacity: 0.6;
  transition: all .4s;
}

.confirm:hover{
  transform: scale(1.2);
  opacity: 1;
}

.confirm:active{
  transform: rotate(360deg) scale(0.9);
}

.cards__container{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  gap: 20px

}

.cards{
  display: flex;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  box-shadow: 3px 6px 6px 3px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 48px;
  transition: all .3s;
}

.cards:hover{
  transform: scale(1.1);
  opacity: 0.8;

}